<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .IsHome -}}
<title>{{ .Site.Title }} | Home </title>
{{- else -}}
<title>{{ .Title }} - {{ .Site.Title }}</title>
{{- end }}
<meta name="description" content="{{with .Description}}{{ . }}{{else}}{{if .IsPage}}{{.Title}} | {{.Site.Title}}{{else}}{{with .Site.Params.description}}{{ . }}{{end}}{{end}}{{end}}" />
<meta name="keywords" content="{{if .Keywords}}{{delimit .Keywords ", "}}{{else}}{{.Site.Params.keywords}}{{end}}">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
{{ if isset .Site.Params "favicon" -}}
<link rel="icon" type="image/png" href={{ .Site.Params.favicon }} />
{{- end }}
{{ with .Params.url -}}
<link rel="canonical" href="{{ . | relLangURL }}" itemprop="url" />
{{- else -}}
<link rel="canonical" href="{{ .Site.BaseURL }}" itemprop="url" />
{{- end -}}
