{{- $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections -}}
{{- $paginator := .Paginate (where $pages "Params.hidden" "ne" true) -}}
{{ range $paginator.Pages }}
  <section class="post">
    <h1 class="title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
    <p><time>{{ time.Format ":date_long" .Date }}</time></p>
    {{ .Summary }}
    {{- if .Truncated -}}
    <p class="read-more"><a href='{{ .RelPermalink }}'>Read more&hellip;</a></p>
    {{- end -}}
  </section>
{{- end }}
{{ template "partials/paginator.html" . }}
