{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
{{- if eq .Type "posts" }}
  <p><time>{{ time.Format ":date_long" .Date }}</time></p>
{{- end }}

{{- if ne .Type "page" }}
  {{ if gt .Params.categories 0 -}}
  <div class="categories">
    <ul>
    {{- range .Params.categories }}
      <li><em><a href="{{ "/category/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></em></li>
    {{- end }}
    </ul>
  </div>
  {{- end }}
{{- end }}

  <section>
    {{ .Content }}
  </section>

{{- if ne .Type "page" }}
  {{ if gt .Params.tags 0 -}}
  <div class="tags">
    <ul>
    {{- range .Params.tags }}
      <li><em><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></em></li>
    {{- end }}
    </ul>
  </div>
  {{- end }}
{{- end }}
</article>
{{ end }}
